source "$BSP_DIR/../common/drivers/Kconfig"

menu "RT-Thread rockchip rv1108 drivers"

config RT_USING_CRU
    bool "Enable CRU"
    default n

config RT_USING_DMA
    bool "Enable General DMA Framework"
    default n

choice
    prompt "DMA Type"
    depends on RT_USING_DMA

    config RT_USING_DMA_PL330
        bool "Enable PL330 DMA Controller"
        default n
endchoice

config RT_USING_VOP
    bool "Enable VOP"
    default n

config RT_USING_DSI
     bool "Enable MIPI DSI"
     default n

config RT_USING_DSP
    bool "Enable DSP"
    default n

    if RT_USING_DSP
    config RT_USING_DSPFW_LOADER
        bool "Enable firmware loader to dsp"
        default n

        if RT_USING_DSPFW_LOADER
        config RT_USING_DSPFW_BUILTIN
            bool "Store firmware data in builtin"
            default y
        endif

    config RT_USING_DSP_TRACE
        bool "Enable dsp send trace to cm4"
        default n
    endif

menu "Enable UART"
    config RT_USING_UART
        bool "Enable UART"
        default n

    if RT_USING_UART
    config RT_USING_UART0
        bool "Enable UART0"
        default n

    config RT_USING_UART1
        bool "Enable UART1"
        default n

    config RT_USING_UART2
        bool "Enable UART2"
        default n
    endif
endmenu

if RT_USING_I2C
menu "Enable I2C"
    config RT_USING_I2C0
        bool "Enable I2C0"
        default n

    config RT_USING_I2C1
        bool "Enable I2C1"
        default n

    config RT_USING_I2C2
        bool "Enable I2C2"
        default n
endmenu
endif

if RT_USING_SPI
menu "Enable SPI"
    config RT_USING_SPI0
        bool "Enable SPI0"
        default n

    config RT_USING_SPI1
        bool "Enable SPI1"
        default n

    config RT_USING_SPI2
        bool "Enable SPI2"
        default n
endmenu
endif

if RT_USING_AUDIO
menu "Enable Audio"
    config RT_USING_PCM
        bool "Enable PCM"
        select RT_USING_DMA
        default y

    config RT_USING_I2S
        bool "Enable I2S"
        default n

    config RT_USING_I2S0
        bool "Enable I2S0"
        depends on RT_USING_I2S
        default n

    config RT_USING_I2S1
        bool "Enable I2S1"
        depends on RT_USING_I2S
        default n

    config RT_USING_I2S2
        bool "Enable I2S2"
        depends on RT_USING_I2S
        default n

    config RT_USING_PDM
        bool "Enable PDM"
        default n

    config RT_USING_PDM0
        bool "Enable PDM0"
        depends on RT_USING_PDM
        default n

    config RT_USING_VAD
        bool "Enable VAD"
        default n
endmenu
endif

endmenu
