mainmenu "RT-Thread Configuration"

config BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../../.."

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"

choice
    prompt "RK3588 MCU"
    default RKMCU_RK3588_PMU

    config RKMCU_RK3588_PMU
        select ARCH_ARM_CORTEX_M0
        bool "RK3588 MCU of PMU"

    config RKMCU_RK3588_NPU
        select ARCH_ARM_CORTEX_M0
        bool "RK3588 MCU of NPU"

    config RKMCU_RK3588_DDR
        select ARCH_ARM_CORTEX_M0
        bool "RK3588 MCU of DDR(no cache)"
endchoice

source "$RTT_DIR/Kconfig"
source "$BSP_DIR/drivers/Kconfig"
source "$BSP_DIR/board/Kconfig"
#source "$PKGS_DIR/Kconfig"
source "$BSP_DIR/../common/tests/Kconfig"
