menu "RT-Thread board config"

config RT_BOARD_NAME
    string "the board name of you use"
    default "evb"

config RT_USING_JTAG
    bool "Enable JTAG for debug"
    default n

config RT_USING_32K_TICK_SRC
    bool "Enable 32K SYSTICK source"
    default y

endmenu
