if RT_USING_AUDIO
menu "Enable Audio"
    source "$BSP_DIR/../common/drivers/audio/codecs/Kconfig"
    source "$BSP_DIR/../common/drivers/audio/pcm/Kconfig"

    menu "Audio Cards"

    config RT_USING_AUDIO_CARD
        bool "Audio Cards"
        select RT_USING_CODEC
        default n

    config RT_USING_AUDIO_CARD_ACODEC
        bool "Enable Internal acodec audio card"
        depends on RT_USING_AUDIO_CARD
        select RT_USING_ACODEC
        select RT_USING_I2STDM2
        default n
        help
          Say Y if you want to use internal acodec card
          which support 8ch differential analog mics
          and stereo analog output.

    config RT_USING_AUDIO_CARD_I2S0
        bool "Enable I2S0 Digital audio card"
        depends on RT_USING_AUDIO_CARD
        select RT_USING_I2STDM0
        default n
        help
          Say Y if you want to use i2s0 digital audio card.

    config RT_USING_AUDIO_CARD_I2S1
        bool "Enable I2S1 Digital audio card"
        depends on RT_USING_AUDIO_CARD
        select RT_USING_I2STDM1
        default n
        help
          Say Y if you want to use i2s1 digital audio card.

    endmenu

    menu "Audio Interfaces"

    config RT_USING_PCM
        bool
        select RT_USING_DMA
        default y

    config RT_USING_MULTI_DAIS
        bool

    config RT_USING_MULTI_PCM
        bool

    config RT_USING_I2STDM
        bool

    config RT_USING_I2STDM0
        bool
        select RT_USING_I2STDM

    config RT_USING_I2STDM1
        bool
        select RT_USING_I2STDM

    config RT_USING_I2STDM2
        bool
        select RT_USING_I2STDM

    config RT_USING_PDM
        bool

    config RT_USING_PDM0
        bool
        select RT_USING_PDM

    config RT_USING_VAD
        bool "Enable VAD"
        default n

    endmenu

endmenu

endif
